body {
  font-family: "Roboto", sans-serif;
}

:root {
  --black: #2c2c2c;
  --button-green: #bbf330;
  --button-yelow: #ffe450;
  --bg-yelow: #ffe550;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.nav-link {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: block;
  padding: 28px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #bbf330;
  font-weight: 700;
  text-decoration-line: underline;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
  outline: 1px solid red;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  padding: 10px 0;
}

.nav {
  margin-left: auto;
  margin-right: 30px;
}

.header-menu {
  display: flex;
  gap: 28px;
}

.header-btn {
  display: block;
  padding: 6px 18px;
  border-radius: 30px;
  background: var(--button-green);
  color: var(--black);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  max-width: 98px;
  height: 32px;
  border: none;
}

.header-btn:hover,
.header-btn:focus {
  background: var(--button-yelow);
}

/* hero */
.hero-container {
  display: flex;
}
.hero-title {
  color: var(--black);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  width: 502px;
  margin-bottom: 28px;
}
.hero-text {
  color: var(--black);
  font-size: 16px;
  line-height: 1.5;
  max-width: 511px;
  margin-bottom: 46px;
}
.hero-style {
  padding-top: 159px;
  margin-right: 129px;
}
.hero-btn {
  display: block;
  padding: 6px 18px;
  border-radius: 30px;
  background: var(--button-green);
  color: var(--black);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  max-width: 98px;
  height: 32px;
  border: none;
  margin: 32px auto 0;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--button-yelow);
}
.apple-link {
  width: 48px;
  height: 48px;
  background-color: #fff;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--transition-cub),
    visibility 250ms var(--transition-cub);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 458px;
  min-height: 449px;
  border-radius: 30px;
  background-color: var(--bg-yelow);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms var(--transition-cub);
  padding: 32px;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(70%);
  opacity: 0;
}

.modal-btn {
  background-color: var(--accent-color);
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms var(--transition-cub),
    border 250ms var(--transition-cub);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state-color);
  border: none;
}

.modal-btn-icon {
  transition: fill 250ms var(--transition-cub);
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--white-background-color);
}

/* Form */

.form-title {
  color: var(--black);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.form-wrap {
  margin-bottom: 24px;
}

.form-label {
  color: var(--subtle-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.form-box {
  position: relative;
}

.form-imput {
  height: 48px;
  width: 100%;
  padding-left: 12px;
  border-radius: 30px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  transition: border-color 250ms var(--transition-cub);
}

.form-imput:focus {
  outline: transparent;
  border-color: var(--primary-brand-color);
  padding-left: 38px;
}

.form-icon {
  fill: var(--dark-color);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms var(--transition-cub);
}

.form-icon:hover,
.form-icon:focus {
  fill: var(--primary-brand-color);
}

.form-imput:focus + .form-icon {
  fill: var(--primary-brand-color);
}

.form-wrap-comment {
  margin-bottom: 16px;
}

.form-textarea {
  resize: none;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
}

.form-textarea:focus {
  outline: transparent;
  border-color: var(--primary-brand-color);
}

.form-wrap-checkbox {
  margin-bottom: 24px;
}

input[type="checkbox"]:checked + .agreement-box {
  background-color: var(--pressed-state-color);
  fill: var(--white-background-color);
}

.agreement-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-right: 8px;
}

.agreement-icon {
  fill: transparent;
}

.label-checkbox {
  display: flex;
  align-items: center;
}

.form-link {
  color: var(--primary-brand-color);
}
